@font-face {
  font-family: 'SF Pro Display Black';
  src: url("../fonts/SFProDisplay-Black.woff2") format("woff2"), url("../fonts/SFProDisplay-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'SF Pro Display Bold';
  src: url("../fonts/SFProDisplay-Bold.woff2") format("woff2"), url("../fonts/SFProDisplay-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'SF Pro Display BlackItalic';
  src: url("../fonts/SFProDisplay-BlackItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'SF Pro Display BoldItalic';
  src: url("../fonts/SFProDisplay-BoldItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'SF Pro Display Heavy';
  src: url("../fonts/SFProDisplay-Heavy.woff2") format("woff2"), url("../fonts/SFProDisplay-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'SF Pro Display HeavyItalic';
  src: url("../fonts/SFProDisplay-HeavyItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-HeavyItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'SF Pro Display LightItalic';
  src: url("../fonts/SFProDisplay-LightItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-LightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'SF Pro Display Medium';
  src: url("../fonts/SFProDisplay-Medium.woff2") format("woff2"), url("../fonts/SFProDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'SF Pro Display Light';
  src: url("../fonts/SFProDisplay-Light.woff2") format("woff2"), url("../fonts/SFProDisplay-Light.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'SF Pro Display MediumItalic';
  src: url("../fonts/SFProDisplay-MediumItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'SF Pro Display Regular';
  src: url("../fonts/SFProDisplay-Regular.woff2") format("woff2"), url("../fonts/SFProDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'SF Pro Display RegularItalic';
  src: url("../fonts/SFProDisplay-RegularItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-RegularItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'SF Pro Display SemiboldItalic';
  src: url("../fonts/SFProDisplay-SemiboldItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-SemiboldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'SF Pro Display Semibold';
  src: url("../fonts/SFProDisplay-Semibold.woff2") format("woff2"), url("../fonts/SFProDisplay-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'SF Pro Display Thin';
  src: url("../fonts/SFProDisplay-Thin.woff2") format("woff2"), url("../fonts/SFProDisplay-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'SF Pro Display ThinItalic';
  src: url("../fonts/SFProDisplay-ThinItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'SF Pro Display UltralightItalic';
  src: url("../fonts/SFProDisplay-UltralightItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-UltralightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'SF Pro Display Ultralight';
  src: url("../fonts/SFProDisplay-Ultralight.woff2") format("woff2"), url("../fonts/SFProDisplay-Ultralight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap; }
body {
  font-family: "SF Pro Display Regular";
  font-style: normal;
  font-size: 14px; }

.btn-comon {
  background-color: #293687;
  color: #ffffff;
  font-size: 14px;
  padding: 10px 28px;
  border-radius: 6px;
  border: 0;
  min-width: 150px; }
  .btn-comon:hover {
    background-color: #DCAF27; }
  .btn-comon:focus {
    text-decoration: none;
    outline: none; }

/* Header -top */
.header-top {
  position: sticky;
  width: 100%;
  z-index: 999;
  padding: 10px 30px 10px 30px;
  background-color: #293687;
  min-height: 80px;
  top: 0; }
  .header-top .col-left {
    float: left;
    margin-top: 20px; }
  .header-top .col-right {
    width: 672px;
    position: fixed;
    right: 15px; }
    .header-top .col-right .tags {
      padding-top: 5px; }
      .header-top .col-right .tags a {
        text-decoration: none;
        color: #9099d0;
        font-size: 12px;
        font-style: normal;
        margin: 5px 2px 0 5px; }
  .header-top .search-box {
    width: 100%;
    position: relative; }
    .header-top .search-box input {
      width: 100%;
      border: 0;
      background: #F3F3F3;
      border-radius: 130px;
      padding: 0 10px;
      font-size: 14px;
      height: 40px;
      outline: none;
      padding-left: 50px;
      color: #777777; }
      .header-top .search-box input::placeholder {
        color: #c4c4c4; }
    .header-top .search-box i {
      z-index: 9999;
      position: absolute;
      top: 11px;
      left: 20px;
      font-size: 17px;
      color: #c4c4c4; }

/* ====== Main-content======= */
.main-content {
  height: 100%;
  position: fixed;
  width: 100%;
  padding-right: 690px; }

.content-left {
  height: 100%; }
  .content-left iframe {
    height: 100%; }

.content-right {
  position: fixed;
  background: rgba(247, 245, 237, 0.26);
  width: 690px;
  padding: 20px 20px 0 20px;
  right: 0;
  top: 75px; }

.ds {
  overflow: scroll;
  height: 83vh; }

::-webkit-scrollbar {
  width: 2px; }

.xep-hang {
  color: #DCAF27;
  margin: 15px 0; }
  .xep-hang i {
    background-color: #DCAF27;
    padding: 5px; }
  .xep-hang span {
    margin-left: 10px; }
  .xep-hang a {
    text-decoration: none;
    color: #777777;
    text-decoration-line: underline;
    margin-left: 10px; }

.pham-vi .btn-light {
  background-color: transparent;
  border: transparent;
  outline: none !important; }
  .pham-vi .btn-light:hover {
    background-color: transparent;
    border: transparent; }
.pham-vi .btn-light:not(:disabled):not(.disabled).active, .pham-vi .btn-light:not(:disabled):not(.disabled):active, .pham-vi .show > .btn-light.dropdown-toggle {
  background-color: transparent;
  border: transparent;
  outline: none !important; }
.pham-vi .bootstrap-select .dropdown-menu.inner {
  width: 100px; }
.pham-vi .bootstrap-select .dropdown-toggle .filter-option-inner-inner {
  font-size: 14px; }
.pham-vi .bootstrap-select {
  width: 75px !important;
  margin-top: 5px; }

.vi-tri-gan-ban {
  margin-top: 12px; }
  .vi-tri-gan-ban a {
    color: #DCAF27;
    text-decoration: none; }

.detail-dv .vi-tri {
  display: flex; }
  .detail-dv .vi-tri .multiselect {
    background: transparent !important; }
    .detail-dv .vi-tri .multiselect:focus {
      box-shadow: none; }

.danh-sach-dia-diem {
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  background: #FFFFFF;
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.08);
  border-radius: 6px; }
  .danh-sach-dia-diem:hover {
    background-color: #f7f7f7; }
  .danh-sach-dia-diem .ava {
    width: 65px;
    height: 65px;
    border-radius: 100%; }
  .danh-sach-dia-diem .noi-dung {
    padding-left: 15px; }
    .danh-sach-dia-diem .noi-dung .tieu-de a {
      line-height: 32px;
      font-size: 24px;
      color: #333333;
      text-decoration: none; }
    .danh-sach-dia-diem .noi-dung .lien-he, .danh-sach-dia-diem .noi-dung .dia-chi {
      color: #777777;
      margin-top: 15px;
      font-weight: 500;
      line-height: 17px; }
      .danh-sach-dia-diem .noi-dung .lien-he span, .danh-sach-dia-diem .noi-dung .dia-chi span {
        margin: 0 20px 0 10px; }

.dropdown-toggle::after {
  color: #c4c4c4; }

.multiselect-container.dropdown-menu {
  box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  border: 0;
  padding: 15px; }
  .multiselect-container.dropdown-menu li a {
    color: #333333; }

.bootstrap-select > .dropdown-toggle.bs-placeholder, .bootstrap-select > .dropdown-toggle.bs-placeholder:active, .bootstrap-select > .dropdown-toggle.bs-placeholder:focus, .bootstrap-select > .dropdown-toggle.bs-placeholder:hover {
  color: #333333;
  max-width: 145px; }

.bootstrap-select .dropdown-toggle:focus {
  outline: none !important; }

.bootstrap-select .bs-ok-default:after {
  border-width: 0 .2em .2em 0;
  color: #293687; }

.dropdown-menu {
  box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  border: 0;
  margin-top: 8px; }

.btn-light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled):active, .show > .btn-light.dropdown-toggle {
  background-color: white;
  outline: none !important;
  border-color: #E5E5E5; }

.dropdown-item {
  font-size: 14px;
  color: #333;
  padding: 10px 20px; }

.dropdown-item:focus, .dropdown-item:hover, .dropdown-item.active, .dropdown-item:active {
  padding: 10px 20px;
  background-color: #f8f9fa;
  color: #333333; }

.bo-loc {
  padding-top: 10px;
  padding-bottom: 15px; }
  .bo-loc .bootstrap-select {
    min-width: 145px;
    width: 145px !important;
    margin-right: 10px; }
  .bo-loc .bootstrap-select .dropdown-toggle .filter-option {
    padding-top: 8px; }
  .bo-loc .btn-light {
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 6px;
    background-color: white;
    min-height: 40px; }
  .bo-loc .bootstrap-select .dropdown-toggle .filter-option-inner-inner {
    text-align: center;
    font-size: 14px; }

/*======= Xem chi tiet dich vu ======*/
.box {
  background: #FFFFFF; }
  .box .danh-sach-dia-diem .ava {
    width: 85px;
    height: 85px; }

.border-large {
  background-color: #F3F6F9;
  height: 10px; }

.xem-chi-tiet {
  background-color: white;
  padding: 0;
  height: 93vh;
  overflow: scroll; }
  .xem-chi-tiet .danh-sach-dia-diem {
    position: relative;
    margin-bottom: 0;
    background: transparent;
    box-shadow: none;
    border-radius: 0; }

.anh-bia {
  position: relative; }
  .anh-bia .icon-back {
    position: absolute;
    width: 28px;
    height: 28px;
    left: 10px;
    top: 10px; }
  .anh-bia img {
    width: 100%;
    height: 200px; }

.dv-phap-ly {
  margin-top: 10px;
  padding: 20px 20px 0 20px; }
  .dv-phap-ly .loai-dv {
    font-size: 18px;
    color: #293687;
    font-weight: bold;
    margin-bottom: 15px; }
  .dv-phap-ly .border-box {
    border-radius: 6px;
    padding: 0 20px;
    border: 1px solid #E5E5E5;
    margin-bottom: 5px; }
  .dv-phap-ly .noi-dung-dv {
    display: flex;
    border-bottom: 1px solid #E5E5E5;
    margin-top: 20px; }
    .dv-phap-ly .noi-dung-dv:last-child {
      border-bottom: 0; }
    .dv-phap-ly .noi-dung-dv .ten-dv {
      width: 465px;
      color: #333333;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
      -webkit-line-clamp: 1; }
    .dv-phap-ly .noi-dung-dv .chi-phi {
      text-align: right;
      margin-left: 35px;
      width: 205px;
      color: #333333;
      font-family: 'SF Pro Display Semibold'; }

/*# sourceMappingURL=dung.css.map */
