@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?lcj4iz');
  src:  url('../fonts/icomoon.eot?lcj4iz#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?lcj4iz') format('truetype'),
    url('../fonts/icomoon.woff?lcj4iz') format('woff'),
    url('../fonts/icomoon.svg?lcj4iz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
 
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check:before {
  content: "\e904" !important;
  color: #293687;
}
.icon-sao:before {
  content: "\e903";
  color: #fff;
}
.icon-close:before {
  content: "\e902";
  color: #777;
}
.icon-search:before {
  content: "\e901" !important;
  color: #c4c4c4;
}
.icon-pen:before {
  content: "\e900";
 
}